/**public/global.css**/
:root {
	/* --main: #292B2C; */
	--main: #597e3a;
	--support: #BDD975;
	--gradient: linear-gradient(90deg, var(--main) 0%, var(--support) 100%);
	--light: #fff;
	--grey: #f8f9fa;
	--padding: 5em;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
.main-bgcolor {
	background-image: var(--gradient);
}
.light-color {
	color: var(--light) !important;
}
.grey-bgcolor {
	background: var(--grey);
}
.company_brand {
	font-size: x-large;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section {
	padding: 50px 0;
}

.section-body {
	padding: 20px 0;
}

h2 {
	/* background-color: pink; */
	font-weight: bold;

}